{% extends 'app/base.html' %}
{% load static %}
{% block title %}About Us | Squid Game{% endblock title %}

{% block main-content %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/styleabout.css' %}">

<div class="about-wrapper" style="margin-top: 100px; min-height: 80vh; margin-bottom: 50px;">
	<section class="main-content">
		<div class="container">
			<h1 class="page-title text-center text-white mb-5" style="font-weight: 800; letter-spacing: 2px;">OUR <span style="color: #ff004f;">TEAM</span></h1>
			<div class="row justify-content-center">
				
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<div class="col-md-3 col-sm-4">
					<div class="profile-card">
						<div class="profile-card_cover">
							<img src="{% static 'app/images/our-team-cover-background.png' %}" alt="">
						</div>
						<div class="profile-card_padding">
							<div class="profile-card_image">
								<img src="{% static 'app/images/29.jpg' %}" alt="">
							</div>
							<div class="profile-card_details">
								<h3>AMINE BEN HARIZ</h3>
								<p class="text-muted">CO FOUNDER</p>
							</div>
							<div class="profile-card_social">
								<a href=#!>
									<img src="{% static 'app/images/about/linkedin.png' %}" alt="Linkedin">
								</a>
								<a href=#!>
									<img src="{% static 'app/images/about/facebook.png' %}" alt="Twitter">
								</a>
								<a href=#!>
									<img src="{% static 'app/images/about/twitter.png' %}" alt="Facebook">
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-4">
					<div class="profile-card">
						<div class="profile-card_cover">
							<img src="{% static 'app/images/our-team-cover-background.png' %}" alt="">
						</div>
						<div class="profile-card_padding">
							<div class="profile-card_image">
								<img src="{% static 'app/images/3.jpg' %}" alt="">
							</div>
							<div class="profile-card_details">
								<h3>WASSIM RABBOUDI</h3>
								<p class="text-muted">CREATIVE DIRECTOR</p>
							</div>
							<div class="profile-card_social">
								<a href=#!>
									<img src="{% static 'app/images/about/linkedin.png' %}" alt="Linkedin">
								</a>
								<a href=#!>
									<img src="{% static 'app/images/about/facebook.png' %}" alt="Twitter">
								</a>
								<a href=#!>
									<img src="{% static 'app/images/about/twitter.png' %}" alt="Facebook">
								</a>
							</div>
						</div>
					</div>
				</div>

				
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock main-content %}